html
   head
      title="Profile"
      link(rel="stylesheet", href="/css/style.css")
   body
    main
        h1 Mi perfil

        .profile-container
         img.profile-img(src=(user.user_image ? user.user_image : '/img/default-profile-img.jpg'), alt="Foto de perfil")
         p
         strong Nombre:
         |  #{user.name} #{user.surname}
         p
         strong Nombre de usuario:
         |  #{user.user_name}
         p
         strong Correo electrónico:
         |  #{user.email}
         form
         button.button Editar perfil 

    include ./footer